@tailwind base;
@tailwind components;
@tailwind utilities;
input:focus:invalid{
  background-color: crimson;
}

header{
  background-color: lightblue;
  padding: 2rem;
}

footer{
  padding: 2rem;
  background-color: lightgray;
}